@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');
	@font-face {
		font-family: flicker;
		font-style: normal;
		font-weight: 400;
		src: url('/assets/fonts/flicker/flicker.woff2') format('woff2'),
		url('/assets/fonts/flicker/flicker.woff') format('woff');
	}
	/* lato-100 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Lato';
		font-style: normal;
		font-weight: 100;
		src: url('/assets/fonts/lato/lato-v23-latin-100.woff2') format('woff2'),
			/* Chrome 36+, Opera 23+, Firefox 39+ */
		url('/assets/fonts/lato/lato-v23-latin-100.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	/* lato-100italic - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Lato';
		font-style: italic;
		font-weight: 100;
		src: url('/assets/fonts/lato/lato-v23-latin-100italic.woff2') format('woff2'),
			/* Chrome 36+, Opera 23+, Firefox 39+ */
		url('/assets/fonts/lato/lato-v23-latin-100italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	/* lato-300 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Lato';
		font-style: normal;
		font-weight: 300;
		src: url('/assets/fonts/lato/lato-v23-latin-300.woff2') format('woff2'),
			/* Chrome 36+, Opera 23+, Firefox 39+ */
		url('/assets/fonts/lato/lato-v23-latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	/* lato-300italic - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Lato';
		font-style: italic;
		font-weight: 300;
		src: url('/assets/fonts/lato/lato-v23-latin-300italic.woff2') format('woff2'),
			/* Chrome 36+, Opera 23+, Firefox 39+ */
		url('/assets/fonts/lato/lato-v23-latin-300italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	/* lato-regular - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		src: url('/assets/fonts/lato/lato-v23-latin-regular.woff2') format('woff2'),
			/* Chrome 36+, Opera 23+, Firefox 39+ */
		url('/assets/fonts/lato/lato-v23-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	/* lato-italic - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Lato';
		font-style: italic;
		font-weight: 400;
		src: url('/assets/fonts/lato/lato-v23-latin-italic.woff2') format('woff2'),
			/* Chrome 36+, Opera 23+, Firefox 39+ */
		url('/assets/fonts/lato/lato-v23-latin-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	/* lato-700 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Lato';
		font-style: normal;
		font-weight: 700;
		src: url('/assets/fonts/lato/lato-v23-latin-700.woff2') format('woff2'),
			/* Chrome 36+, Opera 23+, Firefox 39+ */
		url('/assets/fonts/lato/lato-v23-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	/* lato-700italic - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Lato';
		font-style: italic;
		font-weight: 700;
		src: url('/assets/fonts/lato/lato-v23-latin-700italic.woff2') format('woff2'),
			/* Chrome 36+, Opera 23+, Firefox 39+ */
		url('/assets/fonts/lato/lato-v23-latin-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	/* lato-900 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Lato';
		font-style: normal;
		font-weight: 900;
		src: url('/assets/fonts/lato/lato-v23-latin-900.woff2') format('woff2'),
			/* Chrome 36+, Opera 23+, Firefox 39+ */
		url('/assets/fonts/lato/lato-v23-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	/* lato-900italic - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Lato';
		font-style: italic;
		font-weight: 900;
		src: url('/assets/fonts/lato/lato-v23-latin-900italic.woff2') format('woff2'),
			/* Chrome 36+, Opera 23+, Firefox 39+ */
		url('/assets/fonts/lato/lato-v23-latin-900italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	@font-face {
		font-display: swap;
		font-family: 'JetBrains Mono';
		font-style: normal;
		font-weight: 400;
		src: url('/assets/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'JetBrains Mono';
		font-style: italic;
		font-weight: 400;
		src: url('/assets/fonts/jetbrains-mono/JetBrainsMono-Italic.woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'JetBrains Mono';
		font-style: normal;
		font-weight: bold;
		src: url('/assets/fonts/jetbrains-mono/JetBrainsMono-Bold.woff2');
	}

	@font-face {
		font-display: swap;
		font-family: 'JetBrains Mono';
		font-style: normal;
		font-weight: 900;
		src: url('/assets/fonts/jetbrains-mono/JetBrainsMono-ExtraBold.woff2');
	}

	*,
	*::after,
	*::before {
		user-select: none;
		box-sizing: border-box;
		/*outline: rgb(255, 80, 80) dashed 1px;*/
	}

	body {
		font-family: 'Lato', sans-serif;
	}

	.font-mono {
		-webkit-font-feature-settings: 'liga' 0, 'calt' 0;
		font-feature-settings: 'liga' 0, 'calt' 0;
		letter-spacing: 0;
	}

	.font-jetbrains {
		-webkit-font-feature-settings: 'liga' 0, 'calt' 0;
		font-feature-settings: 'liga' 0, 'calt' 0;
		letter-spacing: 0;
	}
}

@layer components {
	.bg-clip-text {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.hover {
		@apply relative w-fit;
		&:before {
			content: '';
			@apply bg-gradient-to-r from-accent-300 to-amber-300 block absolute bottom-0 left-0 w-0 h-0.5 transition-all ease-in-out;
		}

		&:focus {
			outline: none;
		}

		&:hover, &:focus {
			background-position: 0;

			&::before {
				width: 100%;
			}
		}
	}

	.hover.last {
		&:before {
			background: white;
		}
	}

	.home-bg {
		-webkit-animation: home-bg-slide-in 2s ease-in-out 0s 1 normal forwards;
		animation: home-bg-slide-in 2s ease-in-out 0s 1 normal forwards;
	}

	@-webkit-keyframes home-bg-slide-in {
		0% {
			opacity: 0;
			transform: translateX(100%);
		}

		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes home-bg-slide-in {
		0% {
			opacity: 0;
			transform: translateX(100%);
		}

		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	.dragger {
		-webkit-app-region: drag;
		-webkit-user-select: none;
	}

	*:focus {
		@apply outline-accent;
	}

	input[type='range'] {
		@apply appearance-none w-full relative bg-muted-100/25 dark:bg-muted-900/25 h-2;
	}

	input[type='range']::-webkit-slider-thumb {
		@apply appearance-none border-2 border-white rounded-full cursor-pointer h-4 w-2 dark:bg-accent-400 bg-accent;
	}

	select option {
		@apply text-[#222222];
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 40px;
		@apply h-6;

		input {
			opacity: 0;
			width: 0;
			height: 0;
		}
	}

	span.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@apply bg-muted;
		transition: 0.4s;

		&:before {
			position: absolute;
			content: '';
			height: 16px;
			width: 16px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			transition: 0.4s;
		}
	}

	input {
		&:checked {
			+ {
				.slider {
					@apply bg-accent;

					&:before {
						transform: translateX(16px);
					}
				}
			}
		}

		&:focus {
			+ {
				.slider {
					box-shadow: 0 0 1px rgb(75 176 119);
				}
			}
		}
	}

	.slider-both {
		@apply bg-accent-500;
	}

	.slider.round {
		border-radius: 34px;

		&:before {
			border-radius: 50%;
		}
	}

	.open-file-list::-webkit-scrollbar {
		height: 0.33em;
	}

	::-webkit-scrollbar {
		width: 1em;
	}

	::-webkit-scrollbar-corner {
		@apply bg-muted-300;
	}

	::-webkit-scrollbar-track {
		@apply bg-muted-300;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-muted-100;
	}

	.dark ::-webkit-scrollbar-corner {
		@apply bg-muted-700;
	}

	.dark ::-webkit-scrollbar-track {
		@apply bg-muted-700;
	}

	.dark ::-webkit-scrollbar-thumb {
		@apply bg-muted-600;
	}

	.user-select,
	.user-select * {
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}

	.isWall {
		background-image: url('/assets/textures/wall.png');
		background-size: cover;
		background-position: center;
	}

	.isEye {
		background-image: url('/assets/textures/eye.png');
		background-size: contain;
		background-position: center;
	}

	.isCheckpoint {
		background-image: url('/assets/textures/checkpoint.png');
		background-size: contain;
		background-position: center;
	}

	.isDestinyMountain {
		background-image: url('/assets/textures/schicksalsberg.png');
		background-size: contain;
		background-position: center;
	}

	.isStartField {
		background-image: url('/assets/textures/start.png');
		background-size: contain;
		background-position: center;
	}

	.isLembasField {
		background-image: url('/assets/textures/lembas.png');
		background-size: contain;
		background-position: center;
	}

	.isRiver {
		background-image: url('/assets/textures/river.png');
		background-size: contain;
		background-position: center;
	}

	.isHole {
		background-image: url('/assets/textures/hole.png');
		background-size: contain;
		background-position: center;
	}

	.popup-warn {
		-webkit-animation: popup-warn 0.2s linear infinite;
		animation: popup-warn 0.2s linear infinite;
	}

	@-webkit-keyframes popup-warn {
		0% {
			transform: translateX(-3px);
		}
		50% {
			transform: translateX(3px);
		}
	}

	@keyframes popup-warn {
		0% {
			transform: translateX(-3px);
		}
		50% {
			transform: translateX(3px);
		}
	}

	.preset-view-switch {
		button {
			&:hover {
				@apply bg-white/5;
			}

			&.active {
				@apply bg-white/10;
			}
		}
	}

	.dark\:font-with-gradient {
		@apply dark:bg-gradient-to-tr dark:from-accent-300 dark:to-amber-300 w-fit dark:text-transparent dark:bg-clip-text;
	}

	.font-with-gradient {
		@apply bg-gradient-to-tr from-accent-300 to-amber-300 w-fit text-transparent bg-clip-text;
	}
}
