<!DOCTYPE html>
<html lang="de_DE">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'" />
    <title>Editor - BotC</title>
</head>
<body class="bg-background">
<div id="root"></div>
</body>
</html>
